.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -5rem;


}


/* body,
html,
#root{
  height: 100%;
} */

.countdown-container{
  border: 1px solid black;
  
}

input{
  height: 30px;
  border: solid black 3px;
  font-size: 20px;
}
.main{
  display: grid;
align-content: center;
position: relative;
bottom: 10rem
}

.AddTodo{
  display: flex;
  width: 60%;
  justify-content: center;
  position: absolute;
  left: 10rem;
  font-size: 50px;
}
html,
body {
  margin: 0;
  padding: 0;
}

.todo-form{
  display: flex;
  width: 100%;
  
  
  
}

input{
  font-size: 60px !important;
}

label{
  font-size: 40px !important;
  
}
.Title{
  align-items: center;
}
li {
  text-align: center;
  
}
.MuiButton-label{
  font-size: 15px;
  margin-bottom: -1.2rem;

}

.MuiButton-label:hover{
   text-decoration: none;
   background-color: lightgray;
}


.add{
  font-size: 30px;
}
.button{
  width: 70px;
  padding: 4px 8px 4px 8px;
  font-size: 10px;
  margin-top: -80px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.task{
  position: relative;
  margin-top: -5rem;
  width: -moz-fit-content;
  width: fit-content;
}

.containerr{
  display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    bottom: 8rem
}
.Pomo-container{
  margin-left: 100px;
  background-color: lightcoral;
  height: 545px;
  position: relative;
  top: 5rem;
  padding: 0px 10px 0px 10px;
  padding-top: 0 !important;
  border-radius: 30px;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap');
.title{
    font-family: 'Merriweather', sans-serif;
    padding-top: 40px ;
    margin-top: 30px;
    position: relative;
}
h3{
  padding-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -30px;
  font-size: 30px;
  position: relative;
  font-weight: 800;
  color: black;


}

span{
  font-style: italic;
  font-family: fantasy;
}

.flex2{ 
  position: absolute;
  top: 5.7rem;
  border: 2px groove red;
  border-radius: 30px;
  height:  230px;
  padding: 150px 10px 150px 10px;
  width: 600px;
  background-color: lightblue;
  width: -moz-fit-content;
  width: fit-content;

}
h2{
  font-size: 90px;
}
form{
  position: relative;
  bottom: 4rem;
  right: 2rem;
}
p{
 text-align:center;
position: relative;
bottom: 5rem;

}
.AddTodo{
  margin-left:60px;
  display: flex;
  text-emphasis: none;
}
.times{
      padding-top: 5px ;
       padding-bottom: 20px ;
      width: 40px;
      height: 30px;

      
}

.mins{
    padding: 6px 10px 6px 10px;
    border-radius: 6px;
    white-space: nowrap;
    
}

.hidden{
  color: green;
}


#todos{
    margin-left: 3rem;
    width: 70px;
    white-space: nowrap;

}

.MuiIconButton-label{
  margin-top: -11px;

}
.form-container{


  padding-top: 2rem;
}


.break{
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  bottom: -10rem;

}


.App{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('https://www.colourbox.com/preview/25997228-clock-background-isolated-vector-illustration.jpg');
    background-size: cover;
    background-position: top-center;
    opacity: 0.50;
  }

}



